{% extends "base.html" %}


{% block title %}Flask - Confirm You Account{% endblock %}

{% block page_content %}
<div class ="page-header">
  <h1>Hello,{{ current_user.name }}</h1>
  <h3>You have not confirm you account yet.</h3>
  <p>
    Befor you can access this site you need to comfirmed you account.
    Check you inbox, you should have received an email with a comfirmation link.
  </p>
  <p>
    Need another a comfirmation email?
    <a href="{{ url_for('auth.resend_confirmation')}}">click here<a>
  </p>
</div>
{% endblock %}
